<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  beStrictAboutTestsThatDoNotTestAnything="true">
  <testsuites>
    <testsuite name="Tests">
      <directory>tests/</directory>
      <!-- The following tests generates various failing and warning examples. Comment-out to see this. -->
      <exclude>tests/ResultTypesTest.php</exclude>
    </testsuite>
  </testsuites>

  <!-- Write tests outputs to the following files. -->
  <logging>
    <junit outputFile="logs/phpunit-junit.xml" />
    <testdoxText outputFile="logs/phpunit-testdox.txt" />
  </logging>

  <!-- Filter for coverage reports. -->
  <coverage includeUncoveredFiles="true">
    <report>
      <html outputDirectory="logs/php-coverage/html-coverage" lowUpperBound="50" highLowerBound="90" />
      <text outputFile="logs/php-coverage/coverage.txt"
        showUncoveredFiles="true"
        showOnlySummary="true"/>
      <cobertura outputFile="logs/php-coverage/cobertura-coverage.xml" />
    </report>
  </coverage>

  <!-- Our main codebase folders used for coverage. -->
  <source>
    <include>
      <directory>app</directory>
      <directory>tests</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
      <directory>node_modules</directory>
    </exclude>
  </source>
</phpunit>
